
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopping_Cart_2</title> 
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" /> 
     @* BootStrap *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <!--DtataTable-->  
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.css" />
    
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" /> 
     
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shopping_Cart_2.styles.css" asp-append-version="true" />

</head>
<body class="bg-light">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand  " style="width:75px" asp-controller="Home" asp-action="Index">
                <img src="~/assets/img/navbar2.svg" alt="..." />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Products">Products</a></li> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Seller DashBord
                        </a>
                        <ul class="dropdown-menu">
                            
                            <li><a class="dropdown-item" asp-controller="Items" asp-action="Index">My Products</a></li>
                            <li><a class="dropdown-item" asp-controller="Stock" asp-action="Index">Manage Stock</a></li> 
                             
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="UserOrder" asp-action="UserOrders">Track Order </a>
                    </li> 
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    @if (User.IsInRole(Shopping_Cart_2.Constants.Roles.Admin.ToString()))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="AdminOperations" asp-action="Dashboard">Admin Dashboard</a>
                        </li>
                    }
                    @* <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li> *@ 
                </ul> 
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav> 
    <div  >
        <div class="my-0">
            <partial name="_Notifications" />
        </div>  
        <main role="main" class="pb-3">
           
            @RenderBody()
    
        </main>
    
   </div>

    <!-- Footer-->
    <footer class="footer border-top   py-4"  >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" asp-controller="Home" asp-action="Privacy">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap core JS--> 
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> 
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <!--DtataTable--> 
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js "></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.js "></script>
    
    <!--Cart counter-->
    <script>
        loadCartCount();
        async function loadCartCount() {
            try {
                var response = await fetch(`/Cart/GetTotalItemInCart`);
                console.log(response)
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>

     


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
