@model StockDTO
 

<div class="container mt-5 mb-5" style="width:50%">
<h2> Manage Stock </h2>
<a asp-action="Index" asp-controller="Stock" class="btn btn-dark">Back</a>
<form asp-action="ManangeStock">
        <input type="hidden" asp-for="ItemId" />

   <div class="my-2">
      <label>Quantity</label>
      <input type="number" class="form-control" asp-for="Quantity" />
      <span asp-validation-for="Quantity" class="text-danger"></span>
   </div>

   <div class="my-2">
      <button type="submit" class="btn btn-dark">Update</button>
   </div>
</form>
</div>