
@{
    ViewData["Title"] = "OrderSuccess";
}

<div class="container mt-4 "  >

    <h1>Order was successfull</h1>
    <p class="fw-bold"  > Your Can Track Order Status <a asp-controller="UserOrder" asp-action="Userorders">here</a></p>
</div>

